<!DOCTYPE html>
<html>
{% block head %}
<head>
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'roll/css/bootstrap.min.css' %}"
        media="screen"/>
  <link rel="stylesheet" href="{% static 'roll/css/roll.css' %}"
         media="screen"/>
  <title>{% block title %}Electoral Roll{% endblock %}</title>
  <style>
    </style>
</head>
{% endblock %}

<body>

  {% block main %}
  <div id="wrap">
    <div class="container" id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="push"></div>
  </div>
  {% endblock main %}

  <footer id="footer" class="clearfix">
    <div class="container">
      <div class='three-fourth'>
        <nav id='footer-nav' class="clearfix">
          <ul>
            <li><a href='https://ekloges.grhotels.gr/index.html'>ΑΡΧΙΚΗ</a></li>
            <li>
              <a href='https://ekloges.grhotels.gr/register.html'>ΕΓΓΡΑΦΗ</a>
            </li>
            <li><a href='https://ekloges.grhotels.gr/voting.html'>ΨΗΦΟΦΟΡΙΑ</a>
            </li>
            <li>
              <a href='https://ekloges.grhotels.gr/candidates.html'>
                ΥΠΟΨΗΦΙΟΙ</a>
            </li>
            <li><a href='#'>ΑΠΟΤΕΛΕΣΜΑΤΑ</a></li>
          </ul>
        </nav>
        <ul class='contact-info'>
          <li class='address'>2132169900</li>
          <li class='email'>
            <a href='mailto:ekloges@grhotels.gr'>ekloges@grhotels.gr</a></li>
        </ul>
      </div>
    </div>
  </footer><!-- end #footer -->
  <footer id="footer-bottom" class='clearfix'>
    <div class="container">
      <ul>
        <li>&copy; 2013 Hellenic Chamber of Hotels </li>
      </ul>
    </div>
  </footer><!-- end #footer-bottom -->
      
  <script src="{% static 'roll/js/jquery-1.10.2.min.js' %}"></script>
  <script src="{% static 'roll/js/bootstrap.min.js' %}"></script>
</body>
</html>
