{% extends "roll/base.html" %}

{% block content %}

<p class="lead">Ευχαριστούμε για τη συμμετοχή σας.</p>
<p>Τα στοιχεία που εισάγατε στο εκλογικό μητρώο είναι:</p>
<dl>
  <dt>Όνομα</dt>
  <dd>{{ voter_first_name }}</dd>
  <dt>Επώνυμο</dt>
  <dd>{{ voter_surname }}</dd>  
  <dt>Διεύθυνση ηλεκτρονικού ταχυδρομείου</dt>
  <dd>{{ voter_email }}</dd>
  <dt>Κινητό τηλέφωνο</dt>
  <dd>{{ voter_mobile_phone }}</dd>
</dl>
</p>
<p>Σε περίπτωση που θέλετε να κάνετε διορθώσεις, μπορείτε να
  χρησιμοποιήσετε τον εξής <a href="{{ registration_url }}">σύνδεσμο</a>.</p>
{% endblock %}
